/****** START RESET ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background:url(../img/bg.png) fixed 0 -10px  #293b3f;
	margin:0 auto; 
	text-align:center;
}
ul {
	list-style: none;
}
ol {
	list-style-type:decimal-leading-zero;
	}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
/****** END RESET ******/

/****** FONTS ******/
@font-face {
    font-family: 'PontiacRegular';
    src: url('../fonts/PontiacRegular.eot');
    src: url('../fonts/PontiacRegular.eot') format('embedded-opentype'),
         url('../fonts/PontiacRegular.woff2') format('woff2'),
         url('../fonts/PontiacRegular.woff') format('woff'),
         url('../fonts/PontiacRegular.ttf') format('truetype'),
         url('../fonts/PontiacRegular.svg#PontiacBold') format('svg');
}

@font-face {
    font-family: 'PontiacBold';
    src: url('../fonts/PontiacBold.eot');
    src: url('../fonts/PontiacBold.eot') format('embedded-opentype'),
         url('../fonts/PontiacBold.woff2') format('woff2'),
         url('../fonts/PontiacBold.woff') format('woff'),
         url('../fonts/PontiacBold.ttf') format('truetype'),
         url('../fonts/PontiacBold.svg#PontiacBold') format('svg');
}

@font-face {
    font-family: 'PontiacBlack';
    src: url('../fonts/PontiacBlack.eot');
    src: url('../fonts/PontiacBlack.eot') format('embedded-opentype'),
         url('../fonts/PontiacBlack.woff2') format('woff2'),
         url('../fonts/PontiacBlack.woff') format('woff'),
         url('../fonts/PontiacBlack.ttf') format('truetype'),
         url('../fonts/PontiacBlack.svg#PontiacBlack') format('svg');
}
/****** END FONTS ******/

/****** OUTSIDE FRAMEWORK ******/
/* Timeout Modal */
#timeOut {
	top:770px;
	z-index:1000;
	}
	
	#timeOut span {
		display:inline-block;
		height:95px;
		width:425px;
		position:absolute;
		bottom:110px;
		}
	
	/* Timeout Yes/No Buttons */
	#timeOut #no {
		left:94px;
		}

	#timeOut #yes {
		right:94px;
		}
		
/* Intracia Logo */
.logo {
	position:fixed;
	bottom:69px;
	right:73px;
	}

/* Nav/Dot Indicator */
.nav {
	position:absolute;
	bottom:30px;
	left:473px;
	z-index:10;
	display:none;
	}

	.nav li:first-child {
		display:none;
		}

	.nav li {
		display:inline-block;
		height:13px;
		width:13px;
		margin-right:26px;
		background:#9eccc8;
		border-radius:6px;
		box-shadow: 0px 2px 13px 3px rgba(1,1,1,0.3);
		}

	.nav li.active {
		background:#fff;
		}
		

/****** END OUTSIDE FRAMEWORK ******/

/****** INSIDE FRAMEWORK ******/
#wrapper, #celophane, #unBlur {
	height:1920px;
	width:1080px;
	margin:0 auto;
	position:relative;	
	-webkit-transition:all 0.3s;
	overflow:hidden;
}

#wrapper {
	opacity:0;
	}

#wrapper.show {
	opacity:1;
	-webkit-transition:all 1s !important;
	}

#flag {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	}

.blur {
	-webkit-filter: blur(20px);
	}

#swipe {
	height:1920px;
	width:1080px;
    cursor: hand;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
	overflow:hidden;
	}

.dragend-page {
	overflow-y:hidden !important;
	position:relative;
	}

.next {
	width:100%;
	position:absolute;
	}	

/****** END INSIDE FRAMEWORK ******/

/****** SLIDES ******/
/* Screensaver */
#screenSaver {
	background:url(../img/slides/1.png) no-repeat;
	opacity:1;
	-webkit-transition:all .3s;
	}
	
#screenSaver.off {
	opacity:0;
	}

	#stickLife  {
		position:absolute;
		top: 291px;
		left: 176px;
		width: 756px;
		}
		
		#stickLife li {
			display:inline-block;
			height:287px;
			width:126px;
			margin:0 0 0 -5px;
			padding:0;
			background:url(../img/stickMan.png) no-repeat;
			-webkit-transition: all 6s;
			}
		
			#stickLife li.dead {
				opacity:.2;
			}
				
	/* Deaths since the start of the convention (9/20/2016 at 10:00am) */
	#lives2  {
		position:absolute;
		top:688px;
		right: -42px;
		color:#00a000;	
		text-align:center;
		width:1080px;
		}
	
		#lives2 .deaths {
			font:160px "PontiacBlack";
			}
			
		/* Just the word "lives" */
		#lives2 .wordLives {
			font:29px "PontiacBlack";
			color:#9eccc8;
			display: inline-block;
			position: relative;
			bottom: 8px;	
			-webkit-font-smoothing:antialiased;
			}

	#screenSaver .next {
		box-sizing: border-box;
		padding: 30px 0 0 30px;
		width: 372px;
		position: absolute;
		height: 114px;
		background: url(../img/nav/buttonBG.png) repeat-x;
		right: 0;
		bottom: 598px;
		font: 31px "PontiacBold";
		color: #fff;
		text-transform: uppercase;
		text-align: left;
		word-spacing: 1px;
		-webkit-transform:scale(1,1);
		animation:pulse 5s infinite; 
		}
	
		#screenSaver .next:before {
			content:url(../img/nav/buttonEdge.png);
			position:absolute;
			right:372px;
			height:96px;
			width:30px;	
			top:0;
		}
	
	#screenSaver .btnArrow {
		margin: 0 0 -2px 10px;
		}

@keyframes pulse {
  0%   { -webkit-transform:scale(1,1); }
  10%  { -webkit-transform:scale(1.05,1.05); -webkit-filter: brightness(115%) }
  20%  { -webkit-transform:scale(1,1); -webkit-filter: brightness(100%)}
  30%  { -webkit-transform:scale(1.05,1.05); -webkit-filter: brightness(115%) }
  40%  { -webkit-transform:scale(1,1); -webkit-filter: brightness(100%) }
  100% { -webkit-transform:scale(1,1); }
}
/* End Screensaver */

/* T2D Today */
#T2DToday {
	background:url(../img/slides/2.png) no-repeat;	
	}
			
	/* Move to next page */
	#T2DToday .next {
		bottom: 260px;
		height: 300px;
	}
/* End T2D Today */
	
/* Efficacy Unrealized */
#efficacyUnrealized {
	background:url(../img/slides/3.png) no-repeat;	
	}
	
	/* Animated Chart */
	#chart1 {
		height:391px;
		width:768px;
		background:url(../img/charts/chart1Frame.png);
		position:relative;
		top: 445px;
    	left: 121px;
		}
	
		#chart1 .graph {
			-webkit-transform: translate3d(0, 0, 0);
			position:absolute;
			height:391px;
			width:0;
			top:-26px;
			left:27px;
			background:url(../img/charts/chart1Graph.png);
			}

			#chart1 .graph.show {
				width:770px;
				-webkit-transition:all 1s;
			}

		#chart1 .words {
			position:absolute;
			top: 167px;
			left: 438px;
			z-index:2;
			-webkit-transform: scale(0,0);
			}
			
			#chart1 .words.show {
				-webkit-transform-origin: center;
				-webkit-transform:scale(1,1);
				-webkit-transition:all 1s .5s;
			}	
	
		#chart1 .legend {
			-webkit-transform: translate3d(0, 0, 0);
			position:absolute;
			top:41px;
			right:-75px;
			opacity:0;
			}

			#chart1 .legend.show {
				-webkit-transition:all 1s;
				opacity:1;
				}

	/* Move to next page */
	#efficacyUnrealized .next {
		bottom: 160px;
		height: 200px;
		}
/* End Efficacy Unrealized */

/* Adherance */
#adherance {
	background:url(../img/slides/4.png) no-repeat;	
	}

	/* Move to next page */
	#adherance .next {
		bottom: 370px;
		height: 200px;
		}
/* End Adherance */


/* Adherance 2 */
#adherance2 {
	background:url(../img/slides/5.png) no-repeat;	
	}

	/* Move to next page */
	#adherance2 .next {
		bottom: 240px;
		height: 230px;
		}
/* End Adherance 2 */

	
/* Hospitalization */
#hospitalization {
	background:url(../img/slides/6.png) no-repeat;	
	}
		
	/* Move to next page */
	#hospitalization .next {
		bottom: 280px;
		height: 340px;
		}
/* End Hospitalization */			

/* Conclusion */			
#conclusion {
	background:url(../img/slides/7.png) no-repeat;	
	}
	
	/* Animated Chart */
	#chart2 {
		height:427px;
		width:838px;
		background:url(../img/charts/chart2Frame.png);
		position:relative;
		top: 681px;
    	left: 79px;
		}
	
		#chart2 .graph {
			position:absolute;
			height:324px;
			width:839px;
			top:-9px;
			right:-30px;
			background: url(../img/charts/chart2Graph.png);
			clip: rect(0px,839px,324px,0px);		
			}
			
			#chart2 .graph.go {
				clip: rect(0px,839px,324px,839px);
				-webkit-transition:all 1s;
				}

		#chart2 .topBlueBar {
			position: absolute;
			top: -3px;
			left: 46px;	
			opacity:1;		
			}
			
			#chart2 .topBlueBar.go {
				opacity:0;
				top:23px;
				-webkit-transition:all 1s .5s;
				}

		#chart2 .realWorld {
			position: absolute;
			top: 52px;
			right: -73px;
			}

			#chart2 .realWorld.go {
				top:225px;		
				-webkit-transition:all 3s .5s;
				}

		#chart2 .bottomBlueBar {
			position: absolute;
			top: -7px;
			left: 47px;
			clip: rect(0px,0px,277px,0px);
			z-index: 10;
			}

			#chart2 .bottomBlueBar.go {
				clip: rect(0px,793px,277px,0px);		
				-webkit-transition:all 3s .5s;
				}
		
		#chart2 .bottomWhiteBar {
			position: absolute;
			top: -4px;
			left: 44px;	
			}

		#chart2 .words {
			position:absolute;
			top: 189px;
			left: 455px;
			z-index:2;
			opacity:1;
			}
	
			#chart2 .words.go {
				opacity:0;		
				-webkit-transition:all .5s ;
				}
	
		#chart2 .legend {
			position:absolute;
			top:43px;
			right:-75px;
			opacity:1;
			}

/* End Conclusion */			

/****** END SLIDES ******/

/****** MODAL STYLES ******/
/* Shade */			
#modalBG {
	position:absolute;
	display:none;
	top:0;
	left:0;
	height:1920px;
	width:1080px;
	background:rgba(0,0,0,.8);
	}
	
	/* Modal Window */			
	#modal {
		display:none;
		width:1080px;
		margin:0 auto;
		}
	
		#modal .closeX {
			position:absolute;
			top:0;
			right:0;
			}
	
		#modal div {
			display:none;
			position:absolute;
			width:100%;
			left:0;
			}
/****** END MODAL STYLES ******/